---
layout: bootcamp
root: .
venue: R for Python Programmers
address: Palais de Congres, Montreal, Quebec
country: Canada
humandate: Apr 15, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-04-15
latlng: 45.530677,-73.624497
registration: open
instructor: ["Ramnath Vaidyanathan"]
contact: admin@software-carpentry.org
---
{% include bootcamps/instructors.html %}

<p>
  <strong>What:</strong>
  This workshop will be an accelerated introduction to R and its programming ecosystem
  for people who are already comfortable programming in Python or some other dynamic language.
</p>

<p>
  <strong>Who:</strong>
  The course is aimed at scientists (both students and professionals)
  who are familiar with basic concepts in both programming and statistics.
</p>

{% include bootcamps/requirements.html %}

{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<p>To be written.</p>
