---
layout: bootcamp
root: .
venue: R for Python Programmers
address: Room 525, Palais de Congres, Montreal, Quebec
country: Canada
humandate: Apr 15, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-04-15
latlng: 45.530677,-73.624497
registration: open
instructor: ["Ramnath Vaidyanathan"]
helper: ["Denis Haine", "John Blischak"]
contact: admin@software-carpentry.org
eventbrite: 10319320365
---
<h2>General Information</h2>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help people become more productive
  by teaching them basic computing skills
  like program design, version control, data management, and task automation.
  This workshop will be a comprehensive introduction to the R language.
  It will cover the fundamentals of the language,
  data structures and manipulation,
  data visualization,
  reproducible research,
  package building,
  and interactive documents.
  The goal will be to expose researchers familiar with programming and statistics
  to the extended capabilities of R as a programming language,
  and how it can integrate into their own research workflows.
</p>

<p>
  <em>Note that the workshop is open to everyone, not just PyCon attendees, but does assume prior programming experience in some language.</em>
</p>

{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" height="250" width="100%" scrolling="auto"></iframe>
{% endif %}

{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

{% if page.instructor %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Etherpad for discussion</h2>
<p>
  We can discuss the lessons in real-time
  using <a href="https://etherpad.mozilla.org/swc-pycon2014-r">this
  Etherpad</a>.
</p>

<hr/>

<h2>Topics Covered</h2>

<ol>
  <li>Basics of R</li>
  <li>Data Structures</li>
  <li>Functions and Control Structures</li>
  <li>Data Manipulation</li>
  <li>Data Visualization</li>
  <li>Reproducible Research</li>
  <li>Package Building</li>
  <li>Interactive Documents</li>
</ol>

<hr/>

<h2>Requirements</h2>

<p>
  All participants are requested to install the following software on their laptops prior to the workshop.
  It is very important that you install the versions recommended below (or a later one).
</p>

<ol>
  <li><a href="http://cran.rstudio.com/">R 3.0.2</a></li>
  <li><a href="http://www.rstudio.com/ide/download/">RStudio 0.98.501</a></li>
</ol>

<p>
  The instructor will also be providing notes and exercises for the workshop
  as <a href="http://ipython.org/ipython-doc/stable/interactive/notebook.html">IPython Notebooks</a>.
  If you want to take advantage of that,
  I would recommend that you install <a href="http://ipython.org/install.html">IPython</a> and its dependencies.
  You may use <a href="http://www.continuum.io/blog/conda">Conda</a>
  by <a href="http://continuum.io/">Continuum Analytics</a>
  to manage installation of Python packages.
</p>

<hr/>

<h2>References</h2>

<p>
  While there are several resources available online to learn R,
  there are very few that approach the topic from a programming perspective.
  Since many of you already have a programming/statistical background,
  I will recommend the following references:
</p>

<ol>
  <li><a href="http://adv-r.had.co.nz/">Advanced R Programming</a> by <a href="http://had.co.nz">Hadley Wickham</a>.</li>
  <li><a href="http://heather.cs.ucdavis.edu/~matloff/132/NSPpart.pdf">Art of R Programming</a> by <a href="http://heather.cs.ucdavis.edu/~matloff/matloff.html">Norman Matloff</a>.</li>
</ol>

<hr/>

<h2>Sponsors</h2>
<p>
  <a href="https://www.enthought.com/"><img src="./img/enthoughtPyCon.png" alt="Enthought" /></a>
</p>
<p>
  Our thanks to <a href="https://www.enthought.com/">Enthought</a> for their
  generous sponsorship of this bootcamp.
</p>
